* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: black;
  color: #fff;
}

nav {
  width: 100%;
  align-items: center;
  margin: 2rem 0px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  gap: 4rem;
  cursor: alias;
}

.list-connect {
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  min-height: 3px;
  margin: 5px;
  background-color: #fff;
  transition: all 0.3 ease;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
} 
#connect {
  padding: 5px;
  cursor: pointer;
}
#logout {
  padding: 5px;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  font-size: 12px;
}

:first-child h1 {
  letter-spacing: 4px;
  font-family: sans-serif;
  font-display: small;
  text-transform: capitalize;
}

.ligt-gr {
  color: blueviolet;
  text-rendering: optimizeSpeed;
  font-size: 2.6rem;
  text-transform: capitalize;
  font-weight: 2rem;
}
.container .first-pag p {
  line-height: 2rem;
  color: #8a8686;
}

.first-pag {
  margin-left: 2rem;
}

::spelling-error .first-pag p {
  cursor: pointer;
}

.list-p a {
  text-decoration: none;
  cursor: alias;
  color: #fff;
  font-size: 18px;
  font-style: normal;
}

.second-side {
  width: 47%;
  background: blueviolet;
  background-blend-mode: exclusion;
  height: auto;
  border-radius: 1rem;
  margin: 3px;
  padding-top: 4px;
  height: 20rem;
  margin-right: 2rem;
  box-sizing: border-box auto;
}

.second-side span p {
  margin: 2rem;
  font-style: bold;
  font-size: 20px;
  text-transform: bold;
  color: #fff;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#accordianId {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 1rem;
  line-height: 3rem;
  margin-left: 1rem;
}

.rows {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  place-content: center;
  row-gap: 2rem;
  column-gap: 3rem;
}
.rows img {
  width: 4.2rem;
  border-radius: 2rem;
}

.rows img:hover {
  transform: scale(70%);
  transition: all 1s;
  animation: circle backwards 1s linear;
}
@keyframes circle {
  0% {
    transform: scaleX(-2);
    transform-box: 2rem;
  }
}

:first-child.card {
  width: 40%;
  text-align: center;
  background: rgb(249, 247, 247);
  height: 3rem;
  border-radius: 3px;
}

.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8,
.card-9,
.card-10 {
  width: 40%;
  text-align: center;
  background: rgb(249, 247, 247);
  height: 3rem;
  border-radius: 3px;
}

.main {
  line-height: 2rem;
  margin-top: 3rem;
  margin-left: 2rem;
}

.main p{
  font-size: 12px;
}
.inside {
  color: rgb(58, 3, 58);
}
.parag-1 p {
  margin-left: 3rem;
  font-size: 1.3rem;
}

article p {
  font-size: 12px;
  line-height: 4rem

}

.layer-3 {
  border-radius: 1rem;
  margin: 2rem;
  padding-bottom: 2rem;
  background: #3e3d3d;
}



.layer-3 section p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.all-tasks {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 1rem;
 margin-bottom: 2rem;
 margin: 3rem;
}

.all-tasks p {
  display: block;
  align-items: center;
text-align: center;
margin: 2rem;
initial-letter: 2rem;
line-break: 2rem;
font-size: 12px;
  line-height: 20px;
  align-self: start;
  color: #8a8686;
}
#task-1 {
  background: black;
  height: 15rem;
  width: 22rem;
  border-radius: 2rem;
  border: 1px solid #ccc;
  color: #8a8686;
}

#task-1:hover {
  transform: scale(70%);
  transition: all 1s;
  animation: round backwards 1s linear;
  box-shadow: 2px 2px 2px #ccc;
}

@keyframes round {
  0% {
    transform: scaleX(-1);
    transform-box: 2rem;
    background-image: url(./img/PepeMemeShaman.svg);
  }
}

#task-2:hover {
  transform: scale(80%);
  transition: all 1s;
  animation: round backwards 1s linear;
  box-shadow: 2px 2px 2px #ccc;
}

#task-3:hover {
  transform: scale(80%);
  transition: all 1s;
  animation: round backwards 1s linear;
  box-shadow: 2px 2px 2px #ccc;
}

#task-4:hover {
  transform: scale(80%);
  transition: all 1s;
  animation: round backwards 1s linear;
  box-shadow: 2px 2px 2px #ccc;
}

#task-5:hover {
  transform: scale(80%);
  transition: all 1s;
  animation: round backwards 1s linear;
  box-shadow: 2px 2px 2px #ccc;
}

#task-6:hover {
  transform: scale(80%);
  transition: all 1s;
  animation: round backwards 1s linear;
  box-shadow: 2px 2px 2px #ccc;
}

#task-7:hover {
  transform: scale(80%);
  transition: all 1s;
  animation: round backwards 1s linear;
  box-shadow: 2px 2px 2px #ccc;
}

#task-8:hover {
  transform: scale(80%);
  transition: all 1s;
  animation: round backwards 1s linear;
  box-shadow: 2px 2px 2px #ccc;
}

#task-9:hover {
  transform: scale(80%);
  transition: all 1s;
  animation: round backwards 1s linear;
  box-shadow: 2px 2px 2px #ccc;
}
#task-2 {
  background: black;
  height: 15rem;
  width: 22rem;
  border-radius: 2rem;
  border: 1px solid #ccc;
}

#task-3 {
  background: black;
  height: 15rem;
  width: 22rem;
  border-radius: 2rem;
  border: 1px solid #ccc;
}

#task-4 {
  background: black;
  height: 15rem;
  width: 22rem;
  border-radius: 2rem;
  border: 1px solid #ccc;
}

#task-5,
#task-6,
#task-7,
#task-8,
#task-9,
#task-10 {
  background: black;
  height: 15rem;
  width: 22rem;
  border-radius: 2rem;
  border: 1px solid #ccc;
}

.leverage{
  background-image: url(./img/blog-2560x1440-1.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100%;
  backface-visibility: hidden;
  background-attachment: fixed;
  background-blend-mode: color-burn;
}

.leverage span h4 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 2rem;
  margin-left: 3rem;
}



.row article{
  display: block;
  margin: 3rem;
  line-height: 2rem;
  font-size: 14px;
  color: #8a8686;
}

.container-footer{
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
  line-height: 2.4rem;
  /* margin: 1rem; */
  font-size: 12px;
  background: #ccc;
}

.newsletter h4{
  margin-bottom: 1rem;
  text-align: center;
}

.newsletter input{
  width: 13rem;
  padding: 10px;
  outline: 0px;
}

.newsletter form{
  display: flex;
  gap: 4px;
}
 .submit input{
  width: 4rem;
  outline: 0px;
  background: blue;
  border: 0px;
  color: #fff;
  border-radius: 3px;
  position: relative;
 }

 .hackacton-channel{
  display: block;
 }

 .right-reserve p{
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 3px;
 }

 article p{
  display: block;
  justify-content: center;
  margin: 2rem;
}

article p:hover{
  transition: 1s linear;
  transform: translateY(8%);
  background: #050505;
  top: 20rem;
  border-radius: 1rem;
  text-align: center;
  color: #fff;
}



 /* media query  display */

 @media screen and  (max-width: 768px) {
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    width: 100%;
  }

 body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 }

  .navbar-links {
    width: 100%;
    position: absolute;
    height: 70vh;
    top: -1vh;
    margin: 1rem;
    background-color: rgb(9, 16, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-150%);
    transition: transform 1s ease-in;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 1rem;
  }

  .nav-links li {
    opacity: 1;
  }
 
  .burger {
    display: flex;
  }

  .burger div{
    padding: 5px;
  }

  .nav-active {
    transform: translateX(0%);
  }


  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

.second-side{
  display: none;
}

 
.container-footer{
  display: flex;
  flex-wrap: wrap;
}

.all-tasks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  margin: 3rem;
 }

.main article p{
  font-size: 10px;
  line-height: 10px;
  color: #8a8686;
}

article p{
  display: block;
  justify-content: center;
  line-height: 1rem;

}

article p:hover{
    transition: 1s linear;
    transform: translateX(-16%);
    background: #050505;
    width: 100%;
    line-height: 2rem;
    border-radius: 1rem;
    text-align: center;
    color: #fff;
  }
